.App {
  text-align: center;
}

.game-container {
  position: relative;
  width: 680px;
  height: 600px;
  margin: auto;
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

.cloud-background {
  position: absolute;
  width: 580px;
  height: 600px; /* Set the height to be twice the container height to ensure it covers the entire canvas as it moves */
  animation: moveBackground 5s linear infinite; /* Adjust animation duration as needed */
  background-image: url('./cloud.png'); /* Adjust the path to your cloud background image */
  background-size: cover;
  background-repeat: repeat-y; /* Repeat the background vertically */
}

@keyframes moveBackground {
  from {
    transform: translateY(0); /* Start from the top */
  }
  to {
    transform: translateY(calc(10% + 600px)); /* Move to the bottom */
  }
}
