.App {
  text-align: center;
}

.game-container {
  position: relative;
  width: 480px;
  height: 600px;
  margin: auto;
  background-image: url('./cloud.png'); /* Adjust the path to your cloud background image */
  background-size: cover;
}


